__pycache__/
.DS_Store
/.cache/
/.java/
*.py[cod]
*.bak
*.log
.snakemake/
.pytest_cache/
config/config.yaml
config/samples.tsv
config/contrasts.tsv
config/qc_decisions.tsv
results/
work/
logs/
resources/generated/
containers/images/
